{{#tags}}
    {{#ifReleaseTag .}}
        ## [{{name}}](https://gitlab.com/html-validate/html-validate/compare/{{name}}) ({{tagDate .}})

        {{#ifContainsBreaking commits}}
            ### :stop_sign: Breaking changes :stop_sign:

            {{#commits}}
                {{#ifCommitBreaking .}}
                    - {{#eachCommitScope .}} [{{.}}](https://rally1.rallydev.com/#/search?keywords={{.}}) {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}))
                {{/ifCommitBreaking}}
            {{/commits}}
        {{/ifContainsBreaking}}


        {{#ifContainsType commits type='feat'}}
            ### :sparkle: Features :sparkle:

            {{#commits}}
                {{#ifCommitType . type='feat'}}
                    - {{#eachCommitScope .}} [{{.}}](https://rally1.rallydev.com/#/search?keywords={{.}}) {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}))
                {{/ifCommitType}}
            {{/commits}}
        {{/ifContainsType}}


        {{#ifContainsType commits type='fix'}}
            ### :lady_beetle: Fixes :lady_beetle:

            {{#commits}}
                {{#ifCommitType . type='fix'}}
                    - {{#eachCommitScope .}} [{{.}}](https://rally1.rallydev.com/#/search?keywords={{.}}) {{/eachCommitScope}} {{{commitDescription .}}} ([{{hash}}](https://github.com/{{ownerName}}/{{repoName}}/commit/{{hash}}))
                {{/ifCommitType}}
            {{/commits}}
        {{/ifContainsType}}

    {{/ifReleaseTag}}
{{/tags}}
